*.debhelper.log
*.subsvars
*.*.debhelper
.debhelper/
asterisk-config/
asterisk-dahdi/
asterisk-dev/
asterisk-doc/
asterisk-mobile/
asterisk-modules/
asterisk-mp3/
asterisk-mysql/
asterisk-ooh323/
asterisk-tests/
asterisk-voicemail-imapstorage/
asterisk-voicemail-odbcstorage/
asterisk-voicemail/
asterisk-vpb/
asterisk/
autoreconf.after
autoreconf.before
debhelper-build-stamp
files
tests/testmods/asterisk.conf
tests/testmods/output/
tmp/

